html {
	height: 100%;
	margin: 0;
}

body {
	margin: 0;
	height: 100%;
	display: flex;
	height: calc(100% - 5rem);
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	padding: 2rem;
	font-size: 1.3em;
	padding: 2rem;
	border-top: 1rem solid green;
}

a {
	color: black;
	text-decoration-color: green;
	text-decoration-thickness: 4px;
}

img {
	margin: 1rem 0;
	width: 100%;
	height: auto;
}

input,
button,
li {
	font-size: 1em;
	margin: 1rem 0;
	width: calc(100% - 2rem);
}

input,
button {
	padding: 1rem;
}

button {
	font-weight: bold;
	padding: 2rem;
	border-radius: 6px;
	text-align: center;
	width: 100%;
	border: 0;
	background: green;
	color: white;
	text-decoration: underline;
	text-decoration-color: white;
	text-decoration-thickness: 1px;
}

main {
	flex: 1 0 auto;
}

footer {
	flex-shrink: 1;
	font-size: .9em;
	width: calc(100% + 2rem);
}

/* Elite level dark / light mode */
@media (prefers-color-scheme: dark) {
	body {
		background: black;
		color: white;
	}

	a {
		color: white;
	}
}
